Port codebase to Ember Octane style

- Configuration
  - [x] Make `config/optional-features.json` look like the one here: https://guides.emberjs.com/release/upgrading/current-edition/
  - [x] Add `ember.edition` key in `package.json`, like this: https://github.com/ember-cli/ember-new-output/blob/v3.17.0/package.json#L57-L59
- Refactoring: See [this guide](https://guides.emberjs.com/release/upgrading/current-edition/#toc_refactoring-checklist) and [this cheat sheet](https://ember-learn.github.io/ember-octane-vs-classic-cheat-sheet/)
  - [x] Decorator syntax for computed properties and actions (RFC 408)
  - [x] Actually, no more use of `@computed` unless there's something like a specific caching need
  - [x] Angle bracket component invocation syntax (RFC 311)
  - [x] Named args for component templates (RFC 276)
  - [x] `@model` named arg for route templates (RFC 523)
  - [x] Use `this` in component templates when referring to properties of the component
  - [x] Use native Javascript classes in adapters, controllers, models, routes, and components
  - [x] Remove use of 2-way bindings such as the capital-I `<Input>` component
  - [ ] Replace use of `{{action}}` in templates with `{{on}}` and `{{fn}}`

Might split up this issue if it ends up being a lot of work, but I think I'm in a refactoring mood, so I'll go with this for now.

Updated OP checklist. PRs toward Octane code style so far: #9, #28, #47.

I can't find any `{{action}}`, I think this can be closed!

Agreed!